* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  color: #212121;
}

.container {
  width: 1200px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
button {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #212121;
  font-family: Roboto;
  font-weight: 400;
}

/* Helper classes */
.padding--y {
  padding-top: 94px;
  padding-bottom: 94px;
}

.padding--t {
  padding-top: 94px;
}

.padding--b {
  padding-bottom: 94px;
}

.margin--y {
  margin-top: 94px;
  margin-bottom: 94px;
}

.margin--t {
  margin-top: 94px;
}

.margin--b {
  margin-bottom: 94px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex--jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex--jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex--ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Helper classes */
.header {
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.navigation {
  height: 80px;
}

.nav {
  gap: 93px;
}

.nav__logo {
  font-size: 26px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.938rem;
}

.nav__logo--accent {
  color: #2196f3;
}

.nav__list {
  gap: 46px;
}

.nav__link {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  line-height: 1rem;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link::after {
  position: absolute;
  content: '';
  display: block;
  bottom: -30px;
  right: 0;
  width: 0;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
  -webkit-transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover::after, .nav__link:focus::after {
  width: 100%;
  left: 0;
}

.nav__link--active {
  color: #2196f3;
}

.nav__link--active::after {
  position: absolute;
  content: '';
  display: block;
  bottom: -30px;
  right: 0;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
}

.contact {
  gap: 50px;
}

.contact__link {
  color: #757575;
  fill: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0.02em;
  gap: 10px;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
}

.footer__content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__item:not(:first-of-type) {
  padding-bottom: 30px;
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: white;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.footer__logo {
  font-size: 26px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.938rem;
  color: white;
  margin-bottom: 20px;
}

.footer__logo--accent {
  color: #2196f3;
}

.footer__list {
  gap: 70px;
}

.address {
  padding-top: 20px;
}

.address__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.address__item {
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: white;
}

.address__link {
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.joinUs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.joinUs__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: white;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.joinUs__link:hover, .joinUs__link:focus {
  background-color: #2196f3;
}

.newsletter {
  gap: 12px;
}

.newsletter__input {
  color: #757575;
  background-color: transparent;
  border-radius: 4px;
  height: 50px;
  width: 358px;
  padding-left: 16px;
  border: 1px solid #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.newsletter__input:focus {
  border: 1px solid #2196f3;
}

.newsletter__input:focus::-webkit-input-placeholder {
  color: #2196f3;
}

.newsletter__input:focus:-ms-input-placeholder {
  color: #2196f3;
}

.newsletter__input:focus::-ms-input-placeholder {
  color: #2196f3;
}

.newsletter__input:focus::placeholder {
  color: #2196f3;
}

.newsletter__btn {
  font-size: 16px;
  line-height: 1.875rem;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: white;
  gap: 24px;
  padding: 10px 28px 10px 42px;
  border-radius: 4px;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  fill: white;
  cursor: pointer;
}

.portfolio__filtr__list {
  gap: 8px;
}

.portfolio__filtr__btn {
  color: #212121;
  font-size: 16px;
  line-height: 1.625rem;
  font-weight: 500;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__filtr__btn:hover, .portfolio__filtr__btn:focus, .portfolio__filtr__btn:active {
  color: white;
  background-color: #2196f3;
}

.portfolio__content__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
}

.portfolio__content__item {
  max-width: 370px;
  height: auto;
  background-color: white;
  border: 1px solid #eeeeee;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.portfolio__content__item:hover, .portfolio__content__item:focus {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 4px 4px;
}

.portfolio__content__link:hover .portfolio__content__overlay,
.portfolio__content__link:focus .portfolio__content__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio__content__img {
  position: relative;
  overflow: hidden;
}

.portfolio__content__img img {
  display: block;
}

.portfolio__content__title {
  color: #212121;
  font-size: 18px;
  line-height: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 24px;
}

.portfolio__content__description {
  color: #757575;
  font-size: 16px;
  line-height: 1.875rem;
  font-weight: 500;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
  padding-left: 24px;
}

.portfolio__content__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  font-size: 18px;
  line-height: 1.75rem;
  letter-spacing: 0.03em;
  color: white;
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 45px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.hero__content {
  height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.hero__title {
  color: white;
  font-size: 44px;
  font-weight: 900;
  line-height: 3.75rem;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  width: 696px;
}

.hero__btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875rem;
  letter-spacing: 0.06em;
  color: white;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  padding: 10px 41px;
  cursor: pointer;
}

.backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  height: 581px;
  width: 528px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  fill: black;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close:hover {
  border: 1px solid #2196f3;
}

.modal__form__container {
  width: 100%;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4375rem;
  letter-spacing: 0.03em;
  padding-bottom: 12px;
}

.modal__form__label {
  width: 100%;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 0.875rem;
  letter-spacing: 0.01em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__form__label-wrapper {
  color: #757575;
  font-size: 12px;
  line-height: 0.875rem;
  letter-spacing: 0.01em;
  padding-bottom: 4px;
  margin-top: 4px;
}

.modal__form__input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form__input:focus {
  border: 1px solid #2196f3;
}

.modal__form__input:focus + .modal__form__svg {
  fill: #2196f3;
}

.modal__form__textarea {
  color: #757575;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 4px;
  height: 120px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 20px;
  outline: none;
}

.modal__form__textarea::-webkit-input-placeholder {
  color: #757575;
}

.modal__form__textarea:-ms-input-placeholder {
  color: #757575;
}

.modal__form__textarea::-ms-input-placeholder {
  color: #757575;
}

.modal__form__textarea::placeholder {
  color: #757575;
}

.modal__form__textarea:focus {
  border: 1px solid #2196f3;
}

.modal__form__svg {
  position: absolute;
  margin-left: 12px;
}

.modal__form__policy-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #757575;
  gap: 4px;
  cursor: pointer;
}

.modal__form__policy-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.modal__form__policy-input:checked ~ .modal__form__policy-checkmark {
  background-color: #2196f3;
  border: 1px solid #2196f3;
}

.modal__form__policy-input:checked ~ .modal__form__policy-checkmark .modal__form__policy-checkmark-svg {
  opacity: 1;
}

.modal__form__policy-checkmark {
  height: 16px;
  width: 15px;
  border: 1px solid #2f303a;
  border-radius: 2px;
  background-color: #eee;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form__policy-checkmark-svg {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form__policy-link {
  color: #2196f3;
  text-decoration: underline;
}

.modal__form__btn {
  color: white;
  background-color: #2196f3;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875rem;
  letter-spacing: 0.06em;
  padding: 10px 41px;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  width: 200px;
  margin-top: 30px;
}

.about__list {
  gap: 30px;
}

.about__item {
  width: 270px;
}

.about__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.about__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #757575;
}

.what-we-do {
  text-align: center;
}

.what-we-do__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 2.625rem;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.what-we-do__list {
  gap: 30px;
}

.what-we-do__item {
  position: relative;
}

.what-we-do__img {
  display: block;
}

.what-we-do__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: white;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
  text-align: center;
}

.team__list {
  gap: 30px;
}

.team__item {
  max-width: 270px;
  height: auto;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 2.625rem;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team__item-img {
  display: block;
}

.team__item-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875rem;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team__item-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875rem;
  letter-spacing: 0.03em;
  color: #757575;
}

.team__social-list {
  padding-top: 16px;
  padding-bottom: 30px;
  gap: 10px;
}

.team__social-link {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover, .team__social-link:focus {
  fill: white;
  background-color: #2196f3;
}

.clients {
  text-align: center;
}

.clients__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 2.625rem;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients__list {
  gap: 30px;
}

.clients__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
}

.clients__link:hover .clients__svg,
.clients__link:focus .clients__svg {
  fill: #2196f3;
}

.clients__svg {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */