:root {
  --font-color: #757575;
  --active-color: #2196f3;
}

body {
  background: #ffffff;
  color: var(--font-color);
  font-family: "Roboto", "Raleway", sans-serif;
  margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

.container {
	width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

/* header */
.header {
	border-bottom: 1px solid #ececec;
	height: 80px;
  display: flex;
}

.header, .container {
  display: flex;
}

.navbar {
  display: flex;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}
.header .contacts {
  margin-left: auto;
}
.contacts {
  display: flex;
  align-items: center;
}

.contacts-list-item:not(:last-child) {
  margin-right: 50px;
}

.main-logo {
  margin-right: 93px;
}

.navbar a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #212121;
}
.navbar ul {
  list-style: none;

}

.contacts a {
  color: var(--font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}

.contacts li {
  list-style: none;
}
.link,
.title_link {
  text-decoration: none;
}
.link:hover {
  color: var(--active-color);
}

.webtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 192;
  letter-spacing: 0.03em;
  color: var(--active-color);
  text-decoration: none;
}

.studio_title_header {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}

/* main */
.main-title .title {
  position: absolute;
width: 696px;
height: 120px;
top: 280px;
left: 452px;
text-align: center;
}
.title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
}

.main-title {
  background-color: #2f303a;
height: 600px;
top: 80px;
margin-bottom: 94px
}

.main-button {
  display: inline-block;
  margin: 0 auto;
  background-color: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 430px;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
}

.p-section .plist {
  margin-bottom: 94px;
}

.plist {
  list-style: none;
  display: flex;

}

.plist h4 {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.plist p {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--font-color)
}
.section-img {
  margin-bottom: 94px;
}
.section-img .section-title {
  margin-bottom: 50px;
}

.section-img .projects-list {
  display: flex;
  align-items: center;
}

.projects-list-item:not(last-child) {
  margin-right: 30px;
}

.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.figcaption {
  font-size: 16px;
  line-height: 1, 187;
  text-align: center;
  letter-spacing: 0.03em;
}

.figcaption h4 {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 187;
  text-align: center;
  letter-spacing: 0.03em;
}

.projects-list {
  list-style: none;
}

.team {
  background-color: #f5f4fa;
  height: 648px;
}
.team ul {
  list-style: none;
}

/* footer */
.studio_title_footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 192;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer {
  background-color: #2f303a;
  height: 252px;
}

.footer .footer-logo {;
  margin-top: 60px;
  margin-bottom: 20px;
}
.footer .address {
  display: flex;
}
.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 71px;
  letter-spacing: 0.03em;
  color: var(--font-color);
}

.address-place {
  color: #ffffff;
}

.footer_link {
  text-decoration: none;
  color: var(--font-color);
}

.address li {
  list-style: none;
}

/* portfolio */

.button {
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.button:hover {
  background-color: #2196f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.button_list {
  list-style: none;
}

.portfolio_list {
  list-style: none;
}
