:root {
  --font-color: #757575;
  --active-color: #2196f3;
}

body {
  background: #ffffff;
  color: var(--font-color);
  font-family: "Roboto", "Raleway", sans-serif;
  margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

.container {
	width: 1600px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

/* header */
.header {
	border-bottom: 1px solid #ececec;
	height: 80px;
  display: flex;
}

.header, .container {
  display: flex;
}

.navbar {
  display: flex;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}
.header .contacts {
  margin-left: auto;
}
.contacts {
  display: flex;
  align-items: center;
}

.contacts-list-item:not(:last-child) {
  margin-right: 50px;
}

.main-logo {
  margin-right: 93px;
}

.navbar a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #212121;
}
.navbar ul {
  list-style: none;

}

.contacts a {
  color: var(--font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}

.contacts li {
  list-style: none;
}
.link,
.title_link {
  text-decoration: none;
}
.link:hover {
  color: var(--active-color);
}

.webtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 192;
  letter-spacing: 0.03em;
  color: var(--active-color);
  text-decoration: none;
}

.studio_title_header {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}

.title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.background {
  background-color: #2f303a;
}
.main-button {
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--active-color);
}


/* main */

.plist {
  list-style: none;
}

.plist h4 {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.plist p {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--font-color)
}

.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.figcaption {
  font-size: 16px;
  line-height: 1, 187;
  text-align: center;
  letter-spacing: 0.03em;
}

.figcaption h4 {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 187;
  text-align: center;
  letter-spacing: 0.03em;
}

.projects {
  list-style: none;
}

.team {
  background-color: #f5f4fa;
}
.team ul {
  list-style: none;
}

/* footer */
.studio_title_footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 192;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer {
  background-color: #2f303a;
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 71px;
  letter-spacing: 0.03em;
  color: var(--font-color);
}

.address-place {
  color: #ffffff;
}

.footer_link {
  text-decoration: none;
  color: var(--font-color);
}

.address li {
  list-style: none;
}

/* portfolio */

.button {
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.button:hover {
  background-color: #2196f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.button_list {
  list-style: none;
}

.portfolio_list {
  list-style: none;
}
