:root {
  --color-primary: #212121;
  --color-secondary: #757575;
  --color-accent: #2196f3;
  --color-bg-dark: #2f303a;
  --color-bg-dark-opacity: rgba(47, 48, 58, 0.8);
  --color-bg-light: #f5f4fa;
  --color-socials: #afb1b8;

  --color-white: #ffffff;

  --font-normal: 400;
  --font-bold: 700;
  --font-xbold: 900;

  --font-primary: 'Roboto', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
}

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-primary);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.pb {
  padding-bottom: 94px;
}

.pt {
  padding-top: 94px;
}

.py {
  padding-top: 94px;
  padding-bottom: 94px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 36px;
  line-height: 2.625rem;
  font-weight: var(--font-bold);
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.accent {
  color: var(--color-accent);
}

/* Navigation */

.header {
  border-bottom: 1px solid #ececec;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
}

.header-logo {
  color: var(--color-primary);
  font-size: 1.625rem;
  font-family: var(--font-raleway);
  font-weight: var(--font-bold);
  letter-spacing: 0.03em;
  line-height: 1.938rem;
}

.nav {
  display: flex;
  gap: 93px;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 46px;
}

.nav-link {
  position: relative;
  color: var(--color-primary);
}

.nav-link::after {
  position: absolute;
  content: '';
  display: block;
  top: 45px;
  right: 0;
  width: 0;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}

.active-link {
  position: relative;
  color: var(--color-accent);
}

.active-link::after {
  position: absolute;
  content: '';
  display: block;
  top: 45px;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-accent);
  width: 100%;
}

.contact {
  display: flex;
  gap: 50px;
  align-items: center;
}

.contact-list a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-contact-link {
  color: var(--color-secondary);
  fill: var(--color-secondary);
  font-size: 14px;
  line-height: 1rem;
  font-weight: var(--font-normal);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--color-accent);
  fill: var(--color-accent);
}

.header-contact-link svg {
  margin-right: 10px;
}

/* Hero */

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  margin: 0 auto;
  height: 37.5rem;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-content h1 {
  color: var(--color-white);
  font-size: 44px;
  font-weight: var(--font-xbold);
  line-height: 3.75rem;
  letter-spacing: 0.06em;
  width: 40rem;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;
}

.hero-btn {
  color: var(--color-white);
  background-color: var(--color-accent);
  font-size: 16px;
  font-family: var(--font-primary);
  font-weight: var(--font-bold);
  line-height: 1.875rem;
  letter-spacing: 0.06em;
  padding: 10px 41px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* About */

.about-content {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.about-content-item {
  width: 270px;
}

.about-content-item h3 {
  font-size: 14px;
  line-height: 1rem;
  font-weight: var(--font-bold);
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.about-content-item p {
  color: var(--color-secondary);
  font-size: 14px;
  line-height: 1.5rem;
  font-weight: var(--font-normal);
  letter-spacing: 0.03em;
}

.about-svg {
  margin-bottom: 30px;
}

/* What we do */

.what-we-do {
  text-align: center;
}

.what-we-do-content {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.what-we-do-content-item {
  position: relative;
}

.what-we-do-content-item-span {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  color: var(--color-white);
  background-color: var(--color-bg-dark-opacity);
  font-size: 14px;
  font-weight: var(--font-bold);
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Team */

.team {
  background-color: var(--color-bg-light);
  text-align: center;
}

.team-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.team-content-item h4 {
  color: var(--color-primary);
  font-size: 16px;
  line-height: 1.1875rem;
  font-weight: var(--font-normal);
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-content-item p {
  color: var(--color-secondary);
  font-size: 16px;
  line-height: 1.1875rem;
}

.team-content-item {
  max-width: 270px;
  height: auto;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 30px;
}

.team-list-link {
  fill: var(--color-socials);
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-item:not(:last-of-type) {
  margin-right: 10px;
}

.team-list-link:hover,
.team-list-link:focus {
  fill: var(--color-white);
  background-color: var(--color-accent);
}

/* clients */

.clients {
  text-align: center;
}

.client-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-list-item:not(:last-of-type) {
  padding-right: 30px;
}

.client-list-link {
  fill: var(--color-socials);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-socials);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-link:hover,
.client-list-link:focus {
  fill: var(--color-accent);
  border: 1px solid var(--color-accent);
}

/* Footer */

.footer {
  background-color: var(--color-bg-dark);
  display: flex;
  align-items: center;
}

.footer-content {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  color: var(--color-white);
  font-size: 26px;
  font-family: var(--font-raleway);
  font-weight: var(--font-bold);
  letter-spacing: 0.03em;
  line-height: 1.938rem;
}

address {
  margin-top: 20px;
}

.footer-contacts li {
   font-style: normal;
   margin-bottom: 9px;
}

.footer-list {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.footer-list-link {
  fill: var(--color-white);
  background: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-item:not(:last-of-type) {
  margin-right: 10px;
}

.footer-list-link:hover,
.footer-list-link:focus {
  background-color: var(--color-accent);
}

.footer-heading {
  color: var(--color-white);
  font-size: 14px;
  font-weight: var(--font-bold);
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: text;
}

.middle-footer {
  margin-left: 70px;
}

.footer-contact-link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact-link {
  color: var(--color-white);
  font-size: 14px;
  line-height: 1rem;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.footer-contact-link a {
  color: var(--color-white);
  opacity: 0.6;
  font-size: 14px;
  line-height: 1rem;
  font-weight: 400;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-link a:hover,
.footer-contact-link a:focus {
  color: var(--color-accent);
  opacity: 1;
}

.right-footer {
  margin-left: 70px;
}

.newsletter {
  padding-top: 16px;
  padding-bottom: 30px;
  display: flex;
  gap: 12px;
}

.newsletter-text {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  background-color: transparent;
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-text:focus {
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
  outline: none;
}

.newsletter-btn-a {
  background-color: var(--color-accent);
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 0px 28px 0px 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  cursor: pointer;
}

.newsletter-btn {
  color: var(--color-white);
  font-size: 16px;
  font-family: var(--font-primary);
  line-height: 1.875rem;
  font-weight: var(--font-normal);
  letter-spacing: 0.06em;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/* Portfolio filtr */

.portfolio-filtr-content {
  display: flex;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.portfolio-filtr-content-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filtr-content-item--button {
  color: var(--color-primary);
  font-size: 16px;
  font-family: var(--font-primary);
  line-height: 1.625rem;
  font-weight: var(--font-normal);
  letter-spacing: 0.03em;
  background-color: var(--color-bg-light);
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filtr-content-item--button:hover,
.portfolio-filtr-content-item--button:focus,
.portfolio-filtr-content-item--button:active {
  color: var(--color-white);
  background-color: var(--color-accent);
}

/* Portfolio content */

.portfolio-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-content-item {
  max-width: 370px;
  height: auto;
  background: #ffffff;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.portfolio-content-item:hover,
.portfolio-content-item:focus {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 4px 4px;
}

.portfolio-content-item-link h3 {
  color: var(--color-primary);
  font-size: 18px;
  line-height: 2.25rem;
  font-weight: var(--font-bold);
  font-family: var(--font-primary);
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 24px;
}

.portfolio-content-item-link p {
  color: var(--color-secondary);
  font-size: 16px;
  line-height: 1.875rem;
  font-weight: var(--font-normal);
  letter-spacing: 0.03em;
  padding-bottom: 30px;
  padding-left: 24px;
}

img {
  display: flex;
  align-items: center;
  justify-content: center;
}

img[alt]::before {
  color: var(--color-primary);
  font-size: 18px;
  line-height: 2.25rem;
  font-weight: var(--font-bold);
  font-family: var(--font-primary);
  letter-spacing: 0.06em;
}

img[alt]::after {
  content: '';
  background: url(../images/not-found-icon-18.jpg) no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  color: var(--color-primary);
  font-size: 18px;
  line-height: 2.25rem;
  font-weight: var(--font-bold);
  font-family: var(--font-primary);
  letter-spacing: 0.06em;
}

.popup-img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-accent);
  color: var(--color-white);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 49px;
  opacity: 0.9;
}

.portfolio-content-item-link:hover .popup {
  transform: translateY(-100%);
}

/* Okno modalne */

.backdrop {
  width: 100vw;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: var(--color-white);
  background-color: var(--color-white);
  display: flex;
  float: right;
}

.modal-window {
  position: absolute;
  height: 581px;
  width: 528px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  padding: 40px;

  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-wrapper h3 {
  text-align: center;
  padding-bottom: 12px;
}

.form-label textarea {
  padding: 12px 16px;
  resize: none;
  height: 120px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 20px;
  opacity: 0.5;
}

.form-label {
  padding-bottom: 4px;
  color: var(--color-secondary);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
}

.modal-btn {
  color: var(--color-white);
  background-color: var(--color-accent);
  font-size: 16px;
  font-family: var(--font-primary);
  font-weight: var(--font-bold);
  line-height: 1.875rem;
  letter-spacing: 0.06em;
  padding: 10px 41px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  width: 200px;
  margin: 30px auto auto auto;
}

.label-wrapper {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.label-wrapper svg {
  position: absolute;
  fill: var(--color-bg-dark);
  margin-left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-wrapper input,
.form-label textarea {
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--color-secondary);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-wrapper input:focus,
.form-label textarea:focus {
  border: 1px solid var(--color-accent);
}

.label-wrapper input:focus + svg {
  fill: var(--color-accent);
}

.policy-wrapper {
  display: flex;
}

.policy {
  cursor: pointer;
  display: flex;
}

.policy a {
  text-decoration: underline;
  color: var(--color-accent);
}

.policy a:hover,
.policy a:focus {
  opacity: 0.8;
}

.policy input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  height: 16px;
  width: 15px;
  border: 1px solid var(--color-bg-dark);
  border-radius: 2px;
  background-color: #eee;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy:hover input ~ .checkmark {
  background-color: #ccc;
}

.policy input:checked ~ .checkmark {
  background-color: var(--color-accent);
  border: none;
}

.checkmark-svg {
  display: none;
  opacity: 0;
}

.policy input:checked ~ .checkmark .checkmark-svg {
  display: block;
  opacity: 1;
}

.policy-wrapper .policy-text {
  margin: 0 5px;
}
