.hero {
  position: relative;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;

  &__content {
    height: 600px;
    flex-direction: column;
    gap: get-gapn('30');
  }

  &__title {
    color: get-color('white');
    font-size: get-font-size('44');
    font-weight: get-font-weight('xbold');
    line-height: get-line-height('60');
    letter-spacing: get-letter-spacing('06');
    text-align: center;
    text-transform: uppercase;
    width: 696px;
  }

  &__btn {
    font-size: get-font-size('16');
    font-weight: get-font-weight('bold');
    line-height: get-line-height('30');
    letter-spacing: get-letter-spacing('06');
    color: get-color('white');
    background-color: get-color('accent');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: get-border-r('4');
    padding: get-gapn('10') get-gapn('41');
    cursor: pointer;
  }
}
