.about {
  //   background-color: get-color('very-light-gray');

  &__list {
    gap: 30px;
  }
  &__item {
    width: 270px;
  }
  &__title {
    font-size: get-font-size('14');
    font-weight: get-font-weight('bold');
    line-height: get-line-height('16');
    letter-spacing: get-letter-spacing('03');
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  &__description {
    font-size: get-font-size('14');
    font-weight: get-font-weight('standard');
    line-height: get-line-height('24');
    letter-spacing: get-letter-spacing('03');
    color: get-color('secondary');
  }
}
