.footer {
  background-color: get-color('dark');

  &__content {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__item:not(:first-of-type) {
    padding-bottom: 30px;
  }

  &__title {
    font-size: get-font-size('14');
    font-weight: get-font-weight('bold');
    line-height: 16px;
    letter-spacing: get-letter-spacing('03');
    color: get-color('white');
    padding-bottom: 20px;
    text-transform: uppercase;
  }

  &__logo {
    font-size: get-font-size('26');
    font-family: get-font-family('raleway'), sans-serif;
    font-weight: get-font-weight('bold');
    letter-spacing: get-letter-spacing('03');
    line-height: get-line-height('31');
    color: get-color('white');
    margin-bottom: 20px;
    &--accent {
      color: get-color('accent');
    }
  }

  &__list {
    gap: get-gapn('70');
  }
}

.address {
  padding-top: 20px;
  &__list {
    flex-direction: column;
    gap: get-gapn('9');
  }
  &__item {
    font-size: get-font-size('14');
    line-height: get-line-height('24');
    letter-spacing: get-letter-spacing('03');
    color: get-color('white');
  }

  &__link {
    font-size: get-font-size('14');
    line-height: get-line-height('24');
    letter-spacing: get-letter-spacing('03');
    color: get-color('light-gray');
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: get-color('accent');
    }
  }
}

.joinUs {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: get-gapn('10');
  }

  &__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: get-color('white', 0.1);
    fill: get-color('white');
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: get-color('accent');
    }
  }
}

.newsletter {
  gap: get-gapn('12');

  &__input {
    color: get-color('secondary');
    background-color: transparent;
    border-radius: get-border-r('4');
    height: 50px;
    width: 358px;
    padding-left: get-gapn('16');
    border: 1px solid get-color('secondary');
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;

    &:focus {
      border: 1px solid get-color('accent');
    }
    &:focus::placeholder {
      color: get-color('accent');
    }
  }
  &__btn {
    font-size: get-font-size('16');
    line-height: get-line-height('30');
    font-weight: get-font-weight('bold');
    letter-spacing: get-letter-spacing('06');
    color: get-color('white');
    gap: 24px;
    padding: get-gapn('10') get-gapn('28') get-gapn('10') get-gapn('42');
    border-radius: get-border-r('4');
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: get-color('accent');
    fill: get-color('white');
    cursor: pointer;
  }
}
