.portfolio {
  &__content {
    &__list {
      flex-wrap: wrap;
      gap: 30px;
      padding-top: 50px;
    }

    &__item {
      max-width: 370px;
      height: auto;
      background-color: get-color('white');
      border: 1px solid #eeeeee;
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
      overflow: hidden;

      &:hover,
      &:focus {
        background: #ffffff;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        border-radius: 0px 0px 4px 4px;
      }
    }

    &__link {
      &:hover .portfolio__content__overlay,
      &:focus .portfolio__content__overlay {
        transform: translateY(-100%);
      }
    }

    &__img {
      position: relative;
      overflow: hidden;

      img {
        display: block;
      }
    }

    &__title {
      color: get-color('primary');
      font-size: get-font-size('18');
      line-height: get-line-height('36');
      font-weight: get-font-weight('bold');
      letter-spacing: get-letter-spacing('06');
      padding-top: get-gapn('20');
      padding-bottom: get-gapn('10');
      padding-left: get-gapn('24');
    }

    &__description {
      color: get-color('secondary');
      font-size: get-font-size('16');
      line-height: get-line-height('30');
      font-weight: get-font-weight('light');
      letter-spacing: get-letter-spacing('03');
      padding-bottom: get-gapn('30');
      padding-left: get-gapn('24');
    }

    &__overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      transform: translateY(0);
      font-size: get-font-size('18');
      line-height: get-line-height('28');
      letter-spacing: get-letter-spacing('03');
      color: get-color('white');
      background-color: get-color('accent', 0.9);
      padding-top: 49px;
      padding-left: 24px;
      padding-right: 45px;
      padding-bottom: 45px;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
