.portfolio {
  &__filtr {
    &__list {
      gap: 8px;
    }

    &__btn {
      color: get-color('primary');
      font-size: get-font-size('16');
      line-height: get-line-height('26');
      font-weight: get-font-weight('light');
      letter-spacing: get-letter-spacing('03');
      background-color: get-color('light');
      border: 0;
      border-radius: get-border-r('4');
      padding: get-gapn('6') get-gapn('22');
      cursor: pointer;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus,
      &:active {
        color: get-color('white');
        background-color: get-color('accent');
      }
    }
  }
}
